---
import { getEntries, getEntry, type ReferenceDataEntry } from 'astro:content'

import Layout from '~/layouts/section.astro'

import Button from '~/components/button.astro'
import Header from '~/components/header.astro'
import Programme from '~/components/programme.astro'
import Section from '~/components/section.astro'
import About from '~/components/sections/about.astro'
import Hosts from '~/components/sections/hosts.astro'
import Partners from '~/components/sections/partners.astro'
import Speakers from '~/components/sections/speakers.astro'
import Venue from '~/components/sections/venue.astro'

const editionEntry = await getEntry('editions', '2025')!

const { id } = editionEntry

const {
  date,
  programme,
  hosts,
  speakers,
  venue,
  partners,
  committee,
} = editionEntry.data

const talks: ReferenceDataEntry<'talks', string>[] = []
const workshops: ReferenceDataEntry<'workshops', string>[] = []

for (const { activities } of programme ?? []) {
  if (!activities) continue

  for (const { type, activity } of activities) {
    switch (type) {
    case 'talk':
      talks.push(activity)
      break

    case 'workshop':
      workshops.push(activity)
      break
    }
  }
}

const talkEntries = await getEntries(talks)
const workshopEntries = await getEntries(workshops)

if (programme && speakers.length === 0) {
  for (const talkEntry of talkEntries) {
    const { speaker } = talkEntry.data

    speakers.push(speaker)
  }
}

const hostEntries = hosts && await getEntries(hosts)
const speakerEntries = await getEntries(speakers)

const venueEntry = venue && await getEntry(venue)

const { name, location } = venueEntry?.data ?? {}

const summary = [
  ['speakers', (programme && speakers.length) ?? 'TBA'],
  ['workshops', (programme && workshops.length) ?? 'TBA'],
  ['location', location ?? 'TBA'],
  ['venue', name ?? 'TBA'],
]
---

<Layout>
  <Header>
    <h1 class="my-6 font-mono text-5xl font-bold text-primary sm:mt-48 sm:text-6xl sm:leading-snug">
      A conference for and by IT students.
    </h1>

    <h2  class="my-2 text-2xl leading-snug text-primary/80 sm:text-3xl sm:leading-normal">
      For those willing to look further than their own classroom. We want to
      work together, inspire each other, and commit ourselves to a better
      tomorrow. Besides a range of interesting talks exec(ut) provides great
      networking opportunities to those attending.
    </h2>

    <Button as="a" class="mt-4 p-4 text-xl leading-10" href={`https://tickets.execut.nl/${id}`}>
      Get your ticket!
    </Button>
  </Header>

  <Section>
    <figure class="my-4 grid grid-cols-2 grid-rows-2 gap-4 sm:my-8 sm:gap-6">
      {summary.map(([title, figure]) => (
        <span class="sm:text-center">
          <small class="font-mono text-sm leading-none text-primary-lighter">{title}</small>
          <p class="mt-2 text-xl font-bold text-prose">{figure}</p>
        </span>
      ))}
    </figure>
  </Section>

  <Section id="programme">
    <h1 class="font-mono text-3xl font-bold text-primary sm:text-4xl">Programme</h1>

    {programme ? (
      <>
        <p class="mt-4 sm:mt-8">
          On {new Intl.DateTimeFormat('en-GB', {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
          }).format(date)}{' '}
          the {name} will host {talks ? talks.length : 'a number of'}
          consecutive speakers, each of whom will give a talk on a particular
          aspect of software and technology.
        </p>
        <p class="mt-4 sm:mt-8">
          Aside from these talks we will also host
          {workshops ? workshops.length : 'a number of'} workshops throughout
          the day! You can sign up for these workshops using our
          <a class="text-secondary underline transition-colors hover:text-secondary/80" href={`https://tickets.execut.nl/${id}/`}>ticket store</a>.
        </p>

        <Programme programme={programme} />

        <p class="mt-4 sm:mt-8">
          Short breaks (5 minutes) are provided between talks.
        </p>
      </>
    ) : (
      <p class="mt-4 sm:mt-8">
        The programme for this edition has not yet been announced. Please
        check back later!
      </p>
    )}
  </Section>

  <Speakers programme={programme} entries={speakerEntries} />

  {hostEntries && <Hosts entries={hostEntries} />}

  {venueEntry && <Venue venue={venueEntry} />}

  {partners && <Partners partners={partners} />}

  <About committee={committee} />
</Layout>
